{% extends "base.html" %}
{% load range %}
{% block title %}mosi2map スタートページ{% endblock title %}
{% block my_js %}
<script type="text/javascript" src="{{ STATIC_URL }}js/main.js"></script>
{% endblock my_js %}

{% block content %}
<section class="KkkoiTop">
  <div class="Notice">
    イベントを投稿してください
  </div>
  <div class="MapBlock">
    <div class="MapSearch">
      <input type="text" class="TextForm" id="searchMapText" placeholder="地名検索">
      <button class="SearchBtn" id="searchMapBtn"><span class="typcn typcn-zoom"></span></button>
    </div>

    <div class="Gmap">
      <div id="map_canvas" {% if form.lat.value and form.lng.value %}data-lat="{{ form.lat.value }}" data-lng="{{ form.lng.value }}"{% endif %}></div>
    </div>
  </div> <!-- MapBlock -->

  <form action="{% url 'regist' %}" id="notifyForm" class="NotifyForm" method="post">
    {% csrf_token %}
  <dl class="Information" id="inputForm">
    <dt class="Deadline">日時</dt>
    <dd>
      {{ form.dlDate }}<br>
      {{ form.dlHour }}：{{ form.dlMin }}&emsp;{{ form.terms }}
    </dd>
    <dt class="Targets">通知先</dt>
    <dd>
      <ul id="targets" class="Targets">
        {% for target in targets %}
        <li>
          {{ target.mail }}
          {% if forloop.counter0 != 0 %}<button class="DelMail">Del</button>{% endif %}
        </li>
        {% endfor %}
        <li class="Ctrl"><button id="addTarget"><span class="typcn typcn-plus"></span>通知先追加</button></li>
      </ul>
    </dd>
    <dt class="Message">メッセージ</dt>
    <dd>
      {{ form.message }}
    </dd>
    <dd class="Ctrl">
      <button class="Confirm" id="confirmBtn">確認</button>
    </dd>
  </dl>

  <dl class="Confirm Information" id="confirmForm" style="display:none;">
    <dt class="Deadline Confirm">日時</dt>
    <dd></dd>
    <dt class="Targets Confirm">通知先</dt>
    <dd>
      <ul class="Targets"></ul>
    </dd>
    <dt class="Message Confirm">メッセージ</dt>
    <dd></dd>
    <dd class="Ctrl">
      <input type="submit" name="regist" value="投稿" onClick='return takeMarker()'>
      <button class="Cancel" id="cancelBtn">やりなおす</button>
    </dd>
  </dl>

  </form>
  
</section>
{% endblock %}


