{% extends "base.html" %}
{% load range %}
{% block title %}mosi2map スタートページ{% endblock title %}

{% block content %}
<section class="KkkoiTop">
  <div class="Notice">
    イベントを投稿してください
  </div>
  <div class="MapBlock">
    <div class="MapSearch">
      <input type="text" class="TextForm" id="searchMapText" placeholder="地名検索">
      <button class="SearchBtn" id="searchMapBtn"><span class="typcn typcn-zoom"></span></button>
    </div>

    <div class="Gmap">
      <div id="map_canvas" {% if lat and lng %}data-lat="{{ lat }}" data-lng="{{ lng }}"{% endif %}></div>
    </div>
  </div> <!-- MapBlock -->

  <form action="confirm" id='notifyForm' class='NotifyForm' method='post'>
    {% csrf_token %}
  <dl class="Information">
    <dt class="Deadline">日時</dt>
    <dd>
      <input type='text' name='dlDate' {% if dlDate %}value={{ dlDate }}{% endif %} id='deadlineYMD'>

      <select name='dlHour' id='hour'>
            <option value="-1">--</option>
            {% mkrange 0 24 1 as hour_range %}
            {% for i in hour_range %}
              {% if i == dlHour %}
              <option value="{{ i }}" selected>{{ i }}</option>
              {% else %}
              <option value="{{ i }}">{{ i }}</option>
              {% endif %}
            {% endfor %}
      </select>
      :
      <select name="dlMin" id="min">
            {% mkrange 0 60 5 as min_range %}
            {% for i in min_range%}
              {% if i == dlMin %}
              <option value="{{ i }}" selected>{{ i }}</option>
              {% else %}
              <option value="{{ i }}">{{ i }}</option>
              {% endif %}
            {% endfor %}
      </select>
    </dd>
    <dt class="Term">時間</dt>
    <dd>
      <select id='term' name='term'>
        {% for i in terms %}
        <option value="{{ i }}">{{ i }}</option>
        {% endfor %}
      </select>
    </dd>
    <dt class="Targets">通知先</dt>
    <dd>
      <ul id="targets" class="Targets">
        {% if targets %}
        %  my $err = validation->error('targets');
          {%   for t in targets %}
        <li>
          <input type="email" name="targets"  value="{{ t }}" <% if($err){ %>class="field-with-error"<% } %> >
          {% if forloop.counter0 != 0 %}
          <button class="DelMail">Del</button>
          {% endif %}
        </li>
          {% endfor %}
        {% else %}
        <li>
          <input type='email' name='targets' size="40">
        </li>
        {% endif %}
        <li class="Ctrl"><button id="addTarget"><span class="typcn typcn-plus"></span>通知先追加</button></li>
      </ul>
    </dd>
    <dt class="Message">メッセージ</dt>
    <dd>
        <textarea name="message" class="Message" rows="3">{% if message %}{{ message }}{% endif %}</textarea>
    </dd>
    <dd class="Ctrl">
      <input type="submit" value='投稿' onClick='return takeMarker()'>
    </dd>
  </dl>
  </form>
</section>
{% endblock %}


